
:root {
--bg: #0d0c22;
--bgSoft: #2d2b42;
--text: white;
--textSoft: #e5e5e5;
--btn: #3673fd;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--bg);
  color: var(--text);
}


a{
  text-decoration: none;
  color: inherit;
}


.container {
  width: 1336px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (m-width: 1336px) {
  .container {
  width: 1216px;
  }
  }


@media (m-width: 1216px) {
.container {
width: 1136px;
}
}


@media (m-width: 1136px) {
  .container {
  width: 1024px;
  }
  }

@media (max-width: 1024px) {
.container {
width: 1024px;
}
} 

 
@media (max-width: 982px) {
.container {
width: 982px;
padding-left: 20px;
padding-right: 20px;
} 
}

@media (max-width: 982px) {
.container {
width: 852px;
padding-left: 20px;
padding-right: 20px;
} 
}

@media (max-width: 852px) {
  .container {
  width: 752px;
  padding-left: 20px;
  padding-right: 20px;
  } 
  }

  @media (max-width: 752px) {
    .container {
    width: 640px;
    padding-left: 15px;
    padding-right: 15px;
    } 
    }
  
    @media (max-width: 640px) {
      .container {
      width: 522px;
      padding-left: 10px;
      padding-right: 10px;
      } 
      }

      @media (max-width: 522px) {
        .container {
        width: 402px;
        padding-left: 10px;
        padding-right: 10px;
        } 
        }
        @media (max-width: 402px) {
          .container {
          width: 292px;
          padding-left: 10px;
          padding-right: 10px;
          } 
          }